[submodule "deps/spinalhdl"]
	path = deps/spinalhdl
	url = git@github.com:KireinaHoro/SpinalHDL
[submodule "deps/verilog-axi"]
	path = deps/verilog-axi
	url = https://github.com/alexforencich/verilog-axi
