[submodule "deps/spinalhdl"]
	path = deps/spinalhdl
	url = https://github.com/KireinaHoro/SpinalHDL
[submodule "deps/verilog-axi"]
	path = deps/verilog-axi
	url = https://github.com/KireinaHoro/verilog-axi
[submodule "deps/verilog-axis"]
	path = deps/verilog-axis
	url = https://github.com/alexforencich/verilog-axis
[submodule "deps/wb2axip"]
	path = deps/wb2axip
	url = https://github.com/ZipCPU/wb2axip
[submodule "deps/pulp/axi"]
	path = deps/pulp/axi
	url = https://github.com/pulp-platform/axi
